body {
  background-color: black;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  overflow-x: hidden; /* Hide horizontal scrollbar if needed */
  min-height: 100vh; /* Ensure the background covers the full viewport height */
}
